
.pilihan_jawaban{
    max-width: 350px;
    min-width: 340px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
 }
 .soal{
    max-width: 250px;
    min-width: 250px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
 }
 .wrap-text{
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
 }
.content-wrapper{
   min-height: 1500px;
}
.ibox-body{
   overflow-x: auto;
}
 .avatar-upload {
   position: relative;
   max-width: 205px;
   margin: 50px auto;
 }
 .avatar-upload .avatar-edit {
   position: absolute;
   right: 12px;
   z-index: 1;
   top: 10px;
 }
 .avatar-upload .avatar-edit input {
   display: none;
 }
 .avatar-upload .avatar-edit input + label {
   display: inline-block;
   width: 34px;
   height: 34px;
   margin-bottom: 0;
   border-radius: 100%;
   background: #FFFFFF;
   border: 1px solid transparent;
   box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
   cursor: pointer;
   font-weight: normal;
   transition: all 0.2s ease-in-out;
 }
 .avatar-upload .avatar-edit input + label:hover {
   background: #f1f1f1;
   border-color: #d6d6d6;
 }
 .avatar-upload .avatar-edit input + label:after {
   content: "\f093";
   font-family: 'FontAwesome';
   color: #757575;
   position: absolute;
   top: 10px;
   left: 0;
   right: 0;
   text-align: center;
   margin: auto;
 }
 .avatar-upload .avatar-preview {
   width: 192px;
   height: 192px;
   position: relative;
   border-radius: 100%;
   border: 6px solid #F8F8F8;
   box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
 }
 .avatar-upload .avatar-preview > div {
   width: 100%;
   height: 100%;
   border-radius: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
 }
 
 .image-upload {
   position: relative;
   max-width: 300px;
 }
 .image-upload-p {
  position: relative;
  max-width: 200px!important;
}
 .image-upload .image-edit {
   position: absolute;
   right: 10px;
   z-index: 1;
   top: 10px;
 }
 .image-upload .image-edit input {
   display: none;
 }
 .image-upload .image-edit input + label {
   display: inline-block;
   width: 34px;
   height: 34px;
   margin-bottom: 0;
   background: #FFFFFF;
   border: 1px solid transparent;
   box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
   cursor: pointer;
   font-weight: normal;
   transition: all 0.2s ease-in-out;
 }
 .image-upload .image-edit input + label:hover {
   background: #f1f1f1;
   border-color: #d6d6d6;
 }
 .image-upload .image-edit input + label:after {
   content: "\f093";
   font-family: 'FontAwesome';
   color: #0084ff;
   position: absolute;
   top: 10px;
   left: 0;
   right: 0;
   text-align: center;
   margin: auto;
 }
 .image-upload .image-preview {
   width: 300px;
   height: 168px;
   position: relative;
   border: 6px solid #F8F8F8;
   box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
 }
 .image-upload .image-preview > div {
   width: 100%;
   height: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
 }
 .image-upload .image-preview div {
   background-repeat: no-repeat;
   background-size: 300px 168px;
 }
 .image-upload-p .image-preview {
  width: 200px!important;
  height: 300px!important;
  position: relative;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
 .image-upload-p .image-preview div {
  background-repeat: no-repeat;
  background-size: 200px 300px!important;
}
 div.mce-fullscreen {
  z-index: 1050;
}
.image-square-30
{
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
}
.image-square-45
{
    width: 45px;
    height: 45px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
}
.image-square {
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}
.header .dropdown-user a.dropdown-toggle img {
  margin-right: auto;
}